04.Providers/Clarity.Ecommerce.Providers.Payments/Connected Services/BridgePayProdService/RequestHandler.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bridgepaynetsecuretx.com/requesthandler" elementFormDefault="qualified" targetNamespace="http://bridgepaynetsecuretx.com/requesthandler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.bridgepaynetsecuretx.com/PaymentService/RequestHandler.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://www.bridgepaynetsecuretx.com/PaymentService/RequestHandler.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Bridgepay.Core.DataContracts" />
  <xs:element name="ProcessRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessJsonRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessJsonRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessJsonRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessWebLinkAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="nameValuePairs" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessWebLinkAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Bridgepay.Core.DataContracts" minOccurs="0" name="ProcessWebLinkAuthResult" nillable="true" type="q2:AuthObjectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessWebLinkVoidRefund">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="nameValuePairs" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessWebLinkVoidRefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Bridgepay.Core.DataContracts" minOccurs="0" name="ProcessWebLinkVoidRefundResult" nillable="true" type="q4:VoidRefundObjectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="nameValuePairs" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Bridgepay.Core.DataContracts" minOccurs="0" name="GetMerchantInfoResult" nillable="true" type="q6:MerchantInfoObjectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="nameValuePairs" nillable="true" type="q7:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Bridgepay.Core.DataContracts" minOccurs="0" name="GetTokenResult" nillable="true" type="q8:TokenObjectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>